html
	head
		title="anand"
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
	body
		#content(style='background:gray;height:auto').controls
		input#field(style='padding:10px')
		input#send(type='button',value='send',style='padding:10px')